<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <!-- Bootstrap読み込み -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <!-- css読込 -->
      <link rel="stylesheet" href="/views/styles/stylesheet.css">
</head>
<body>
      <!-- 大元のbox -->
      <div class="container my-5 py-4 border">
            <!-- タイトル -->
            <h2 class="ms-3 mb-3">文字を入力してね</h2>
            
            <!-- テキストエリア -->
            <div class="row mx-3">
                  <!-- 文字入力 -->
                  <div class="d-flex justify-content-center">
                        <p class="w-75">文字を入力</p>
                  </div>
                  <div class="d-flex justify-content-center">
                        <!-- rowsで行数を指定 -->
                        <textarea class="w-75 textarea" autofocus="autofocus" name="input" id="input"></textarea>
                  </div>
            </div>
      </div>
      
      <!-- Bootstrap読み込み -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <!-- jsファイルを読み込み -->
      <script src="/views/scripts/textarea.js"></script>
</body>
</html>